<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Chrome 最新离线安装包下载 - 每日自动更新 | 楠格</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="谷歌浏览器,Chrome,离线安装包下载,每日自动更新"/>
    <meta name="keywords" content="Chrome离线安装包下载，谷歌浏览器安装包下载, Chrome离线包，Chrome安装包，谷歌浏览器，谷歌浏览器下载, Chrome 下载"/>
    <meta name="theme-color" content="#8DC43C">
    <meta name="msapplication-TileColor" content="#8DC43C">
    <meta property="og:title" content="Chrome 离线安装包下载丨楠格">
    <meta property="og:type" content="Website">
    <meta property="og:url" content="https://chrome.nange.cn">
    <meta property="og:description" content="又一个 Chrome 离线包下载">
    <meta name="twitter:card" content="summary">
    <link rel="shortcut icon" type="image/ico" href="https://www.nange.cn/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.nange.cn/favicon.ico">
    <link href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script data-ad-client="ca-pub-3236672628766591" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!--[if lt IE 9]><script src="https://s1.pstatp.com/cdn/expire-1-M/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://s1.pstatp.com/cdn/expire-1-M/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
<div style="text-align:center;margin:20px auto -15px auto"><a href="/"><img style="margin:0 auto;height: 50px;width: 50px" src="assets/image/chrome_icon_50.jpg" srcset="assets/image/chrome_icon_50.jpg 1x,assets/image/chrome_icon_100.jpg 2x" /></a></div>
<h1 class="ui center aligned header">Google Chrome 最新离线安装包下载</h1>
<h2 class="ui center aligned header" style="margin-top: -10px;font-size: 1.2em;color:#888;font-weight: normal;">最新 Windows/MacOS 版官方下载地址&nbsp;[<span style="color:#f37327">每天自动更新：2022-07-31 20:22:32</span>]</h2>

<div class="ui center aligned container">
    <div>

        「 <a href="http://qste.com/" target="_blank"> 主页</a>&nbsp;|&nbsp;<a href="http://www.nange.cn/" target="_blank">楠格</a> 」
    </div>
</div>

<div class="ui container" style="width:1000px">

        <div class="ui container two column stackable grid" id="result">
<!-- 首页 PC 横幅（1080*120） -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     data-full-width-responsive="true"
     style="display:inline-block;width:100%;height:120px"
     data-ad-client="ca-pub-3236672628766591"
     data-ad-slot="7988005381"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">正式版 for 64 位 Windows                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">103.0.5060.134</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>81.011 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>2255ea8305004989f5f5506f0b5896331625c6b0d0236f20114b7a02493b9061</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/adysojpcmdixd4hvz3fcla42tuja_103.0.5060.134/103.0.5060.134_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/adysojpcmdixd4hvz3fcla42tuja_103.0.5060.134/103.0.5060.134_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/adysojpcmdixd4hvz3fcla42tuja_103.0.5060.134/103.0.5060.134_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">正式版 for 32 位 Windows                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">103.0.5060.134</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>77.876 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>ec72b5b1027fc6110b869c0c368df89acddbe6967284eff544ad9f40bec17720</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/aczf2o4afjn6fg5fyegvmhcnqmua_103.0.5060.134/103.0.5060.134_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/aczf2o4afjn6fg5fyegvmhcnqmua_103.0.5060.134/103.0.5060.134_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/aczf2o4afjn6fg5fyegvmhcnqmua_103.0.5060.134/103.0.5060.134_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">测试版 for 64 位 Windows                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">104.0.5112.65</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>85.170 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>63c484056ba13ef01c8b5791f67e940beb7257e7910256848feb352c0c60b5bf</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/adjkzhlli33zqvzrt4ita5jjmlha_104.0.5112.65/104.0.5112.65_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/adjkzhlli33zqvzrt4ita5jjmlha_104.0.5112.65/104.0.5112.65_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/adjkzhlli33zqvzrt4ita5jjmlha_104.0.5112.65/104.0.5112.65_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">测试版 for 32 位 Windows                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">104.0.5112.65</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>81.375 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>3e1dc41259cba43fbc998ae8eefe075f5813323b594647a12192bf753ab2b5b8</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/ad7vo3iocral6uviouo3njk4ediq_104.0.5112.65/104.0.5112.65_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/ad7vo3iocral6uviouo3njk4ediq_104.0.5112.65/104.0.5112.65_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/ad7vo3iocral6uviouo3njk4ediq_104.0.5112.65/104.0.5112.65_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">开发版 for 64 位 Windows                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">105.0.5195.10</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>85.645 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>bb7746606ead16e674a9feadda05fdde2ac317b5eb474c8af1ea71939368410e</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/jzymrhvidmaxmhgjgd5ktlrziq_105.0.5195.10/105.0.5195.10_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/jzymrhvidmaxmhgjgd5ktlrziq_105.0.5195.10/105.0.5195.10_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/jzymrhvidmaxmhgjgd5ktlrziq_105.0.5195.10/105.0.5195.10_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">开发版 for 32 位 Windows                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">105.0.5195.10</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>81.968 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>03f2e522490ebafcf636921b550ac7b04ca4d37e321e92914e50265d336b30f2</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/eylcq7hmp6ih6tffkxxaiib56y_105.0.5195.10/105.0.5195.10_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/eylcq7hmp6ih6tffkxxaiib56y_105.0.5195.10/105.0.5195.10_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/eylcq7hmp6ih6tffkxxaiib56y_105.0.5195.10/105.0.5195.10_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">金丝雀版 for 64 位 Windows 位                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">106.0.5210.0</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>85.724 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>fa1211d5afe1e030614cc3d20016035ae84b57e08661560df106c066f929dc17</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/acx3wabwsjeunzegg7wcu7yn7xla_106.0.5210.0/106.0.5210.0_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/acx3wabwsjeunzegg7wcu7yn7xla_106.0.5210.0/106.0.5210.0_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/acx3wabwsjeunzegg7wcu7yn7xla_106.0.5210.0/106.0.5210.0_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">金丝雀版  for 32 位 Windows                   <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">106.0.5210.0</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>82.146 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>72368a5904a54b395030e18689509f587a5a6f21bb0e7b910c60d5d9fa605415</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/niqe5iikp2eypiu4rsfcok5zau_106.0.5210.0/106.0.5210.0_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/niqe5iikp2eypiu4rsfcok5zau_106.0.5210.0/106.0.5210.0_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/niqe5iikp2eypiu4rsfcok5zau_106.0.5210.0/106.0.5210.0_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
<!-- 首页 PC 横幅（1080*120） -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     data-full-width-responsive="true"
     style="display:inline-block;width:100%;height:120px"
     data-ad-client="ca-pub-3236672628766591"
     data-ad-slot="7988005381"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>           
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">正式版 for Intel MacOS                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">103.0.5060.134</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>81.011 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>2255ea8305004989f5f5506f0b5896331625c6b0d0236f20114b7a02493b9061</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/stable/GGRO/googlechrome.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/stable/GGRO/googlechrome.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/stable/GGRO/googlechrome.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">正式版  for Apple MacOS                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">103.0.5060.134</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>77.876 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>ec72b5b1027fc6110b869c0c368df89acddbe6967284eff544ad9f40bec17720</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/universal/stable/GGRO/googlechrome.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/stable/GGRO/googlechrome.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/stable/GGRO/googlechrome.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">测试版  for Intel MacOS                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">104.0.5112.65</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>85.170 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>63c484056ba13ef01c8b5791f67e940beb7257e7910256848feb352c0c60b5bf</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/beta/googlechromebeta.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/beta/googlechromebeta.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/beta/googlechromebeta.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">测试版 for Apple MacOS                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">104.0.5112.65</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>81.375 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>3e1dc41259cba43fbc998ae8eefe075f5813323b594647a12192bf753ab2b5b8</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/universal/beta/googlechromebeta.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/beta/googlechromebeta.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/beta/googlechromebeta.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">开发版  for Intel MacOS                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">105.0.5195.10</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>85.645 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>bb7746606ead16e674a9feadda05fdde2ac317b5eb474c8af1ea71939368410e</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/dev/googlechromedev.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/dev/googlechromedev.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/dev/googlechromedev.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">开发版  for Apple MacOS                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">105.0.5195.10</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>81.968 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>03f2e522490ebafcf636921b550ac7b04ca4d37e321e92914e50265d336b30f2</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/universal/dev/googlechromedev.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/dev/googlechromedev.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/dev/googlechromedev.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">金丝雀版  for Intel MacOS                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">106.0.5210.0</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>85.724 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>fa1211d5afe1e030614cc3d20016035ae84b57e08661560df106c066f929dc17</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/canary/googlechromecanary.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/canary/googlechromecanary.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/canary/googlechromecanary.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">金丝雀版  for Apple MacOS                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">106.0.5210.0</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>82.146 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2022-07-31 20:22:32</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>72368a5904a54b395030e18689509f587a5a6f21bb0e7b910c60d5d9fa605415</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/universal/canary/googlechromecanary.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/canary/googlechromecanary.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/canary/googlechromecanary.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
        <!-- 首页 PC 横幅（1080*120） -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     data-full-width-responsive="true"
     style="display:inline-block;width:100%;height:120px"
     data-ad-client="ca-pub-3236672628766591"
     data-ad-slot="7988005381"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
</div>
    <!--百度统计代码-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?aade87dd0a7d54dd7695480567970df1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127463675-1"></script>
<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127463675-1');
</script>
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.js" charset="utf-8"></script>
</body>
</html>
