<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Chrome 最新离线安装包下载 - 每日自动更新 | 楠格</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="谷歌浏览器,Chrome,离线安装包下载,每日自动更新"/>
    <meta name="keywords" content="Chrome离线安装包下载，谷歌浏览器安装包下载, Chrome离线包，Chrome安装包，谷歌浏览器，谷歌浏览器下载, Chrome 下载"/>
    <meta property="og:title" content="Chrome 离线安装包下载丨楠格">
    <meta property="og:type" content="Website">
    <meta property="og:url" content="https://chr.nan.ge">
    <meta property="og:description" content="又一个 Chrome 离线包下载">
    <meta name="twitter:card" content="summary">
    <link rel="shortcut icon" type="image/ico" href="https://www.nange.cn/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.nange.cn/favicon.ico">
    <link href="semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!--[if lt IE 9]><script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3"></script><script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script><![endif]-->
</head>

<body>
<div style="text-align:center;margin:20px auto -15px auto"><a href="/"><img style="margin:0 auto;height: 50px;width: 50px" src="assets/image/chrome_icon_50.jpg" srcset="assets/image/chrome_icon_50.jpg 1x,assets/image/chrome_icon_100.jpg 2x" /></a></div>
<h1 class="ui center aligned header">Google Chrome 最新离线安装包下载</h1>
<h2 class="ui center aligned header" style="margin-top: -10px;font-size: 1.2em;color:#888;font-weight: normal;">最新 Windows/MacOS 版官方下载地址&nbsp;[<span style="color:#f37327">每天自动更新：2021-05-04 09:04:01</span>]</h2>

<div class="ui center aligned container">
    <div>

        「 <a href="http://nan.ge/" target="_blank"> 主页</a>&nbsp;|&nbsp;<a href="http://www.vmgirls.com/" target="_blank">看小姐姐</a>&nbsp;|&nbsp;<a href="http://www.nange.cn/" target="_blank">楠格</a> 」
    </div>
</div>

<div class="ui container" style="width:1000px">

        <div class="ui container two column stackable grid" id="result">
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">正式版 for 64 位 Windows                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">90.0.4430.93</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>73.330 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>ad2a6a8e22914efcf234576ddfcc494972f67243498f4597b478915e3cd79e69</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/AKUFUwYnusKVcre1apSS8VU_90.0.4430.93/90.0.4430.93_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/AKUFUwYnusKVcre1apSS8VU_90.0.4430.93/90.0.4430.93_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/AKUFUwYnusKVcre1apSS8VU_90.0.4430.93/90.0.4430.93_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">正式版 for 32 位 Windows                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">90.0.4430.93</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>70.972 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>86a5ef9f76418ac91c29dce8c2011752b1b776ee5baa0567a3300ae2b2226f24</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/bzq8JQYsSLp6AdbxA5Pzrg_90.0.4430.93/90.0.4430.93_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/bzq8JQYsSLp6AdbxA5Pzrg_90.0.4430.93/90.0.4430.93_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/bzq8JQYsSLp6AdbxA5Pzrg_90.0.4430.93/90.0.4430.93_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">测试版 for 64 位 Windows                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">91.0.4472.27</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>72.641 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>f72a627fc3c842bc5a2e377a19902d388c6a674801398430952a703b6be6753d</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/Q9sj4g1ddvTSdyUxwTsMig_91.0.4472.27/91.0.4472.27_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/Q9sj4g1ddvTSdyUxwTsMig_91.0.4472.27/91.0.4472.27_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/Q9sj4g1ddvTSdyUxwTsMig_91.0.4472.27/91.0.4472.27_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">测试版 for 32 位 Windows                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">91.0.4472.27</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>70.289 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>1e7d5ba026e01f1123467189475f135574b4507315d75d19cd36ef78bba1146e</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/Gi23MO3NekAgGgFic-UdbA_91.0.4472.27/91.0.4472.27_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/Gi23MO3NekAgGgFic-UdbA_91.0.4472.27/91.0.4472.27_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/Gi23MO3NekAgGgFic-UdbA_91.0.4472.27/91.0.4472.27_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">开发版 for 64 位 Windows                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">92.0.4491.6</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>73.469 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>1df82fe1db47645353416ab707cab8be078159e245b1907a08accb0e3c9e510a</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/RUXGx3Q9Jq5oinrXym06Jw_92.0.4491.6/92.0.4491.6_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/RUXGx3Q9Jq5oinrXym06Jw_92.0.4491.6/92.0.4491.6_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/RUXGx3Q9Jq5oinrXym06Jw_92.0.4491.6/92.0.4491.6_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">开发版 for 32 位 Windows                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">92.0.4491.4</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>71.307 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>8d2441c816e17a27537e9ea875e23d41c1483eba4dcaf21d26564b37fd069afd</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/APwwG8CvWnZthccHW3sq0Rg_92.0.4491.4/92.0.4491.4_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/APwwG8CvWnZthccHW3sq0Rg_92.0.4491.4/92.0.4491.4_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/APwwG8CvWnZthccHW3sq0Rg_92.0.4491.4/92.0.4491.4_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">金丝雀版 for 64 位 Windows 位                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">92.0.4496.2</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>69.313 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>5607ada1f7c1868fb84ce2fa6013d858fcba925929f64e721876be25bf2c737b</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/AJUDnNU1phK0gnVS_gromZA_92.0.4496.2/92.0.4496.2_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/AJUDnNU1phK0gnVS_gromZA_92.0.4496.2/92.0.4496.2_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/AJUDnNU1phK0gnVS_gromZA_92.0.4496.2/92.0.4496.2_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">金丝雀版  for 32 位 Windows                   <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">92.0.4496.2</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>66.447 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>10786b30484019e02ad479388bc26375604f262e22e004548951eb1055910186</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/release2/chrome/AK3fz6W1XI8PGD0X8H0-wKw_92.0.4496.2/92.0.4496.2_chrome_installer.exe" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://redirector.gvt1.com/edgedl/release2/chrome/AK3fz6W1XI8PGD0X8H0-wKw_92.0.4496.2/92.0.4496.2_chrome_installer.exe" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://www.google.com/dl/release2/chrome/AK3fz6W1XI8PGD0X8H0-wKw_92.0.4496.2/92.0.4496.2_chrome_installer.exe" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">正式版 for Inter MacOS                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">90.0.4430.93</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>73.330 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>ad2a6a8e22914efcf234576ddfcc494972f67243498f4597b478915e3cd79e69</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/stable/GGRO/googlechrome.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/stable/GGRO/googlechrome.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/stable/GGRO/googlechrome.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">正式版  for M1 MacOS                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">90.0.4430.93</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>70.972 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>86a5ef9f76418ac91c29dce8c2011752b1b776ee5baa0567a3300ae2b2226f24</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/universal/stable/GGRO/googlechrome.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/stable/GGRO/googlechrome.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/stable/GGRO/googlechrome.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">测试版  for Inter MacOS                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">91.0.4472.27</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>72.641 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>f72a627fc3c842bc5a2e377a19902d388c6a674801398430952a703b6be6753d</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/beta/googlechromebeta.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/beta/googlechromebeta.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/beta/googlechromebeta.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">测试版 for M1 MacOS                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">91.0.4472.27</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>70.289 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>1e7d5ba026e01f1123467189475f135574b4507315d75d19cd36ef78bba1146e</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/universal/beta/googlechromebeta.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/beta/googlechromebeta.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/beta/googlechromebeta.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">开发版  for Inter MacOS                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">92.0.4491.6</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>73.469 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>1df82fe1db47645353416ab707cab8be078159e245b1907a08accb0e3c9e510a</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/dev/googlechromedev.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/dev/googlechromedev.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/dev/googlechromedev.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">开发版  for M1 MacOS                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">92.0.4491.4</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>71.307 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>8d2441c816e17a27537e9ea875e23d41c1483eba4dcaf21d26564b37fd069afd</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/universal/dev/googlechromedev.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/dev/googlechromedev.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/dev/googlechromedev.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">金丝雀版  for Inter MacOS                    <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">92.0.4496.2</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>69.313 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>5607ada1f7c1868fb84ce2fa6013d858fcba925929f64e721876be25bf2c737b</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/canary/googlechromecanary.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/canary/googlechromecanary.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/canary/googlechromecanary.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
            <div class="column" v-for="item in items" style="overflow: hidden;">
                <div class="ui segment">
                    <h3 class="ui floated header">金丝雀版  for M1 MacOS                     <span class="sub header" style="margin-top:8px">最新版本：<code style="color:#e6783d">92.0.4496.2</code></span>
                    </h3>

                    <div class="ui clearing divider"></div>
                    <p>文件大小：<code>66.447 MB</code>&nbsp;&nbsp;&nbsp;<span style="color:#ddd">|</span>&nbsp;&nbsp;&nbsp;更新时间：<code>2021-05-04 09:04:01</code></p>
                    
                    <p style="color: #999; word-break: break-word;">SHA256：<code>10786b30484019e02ad479388bc26375604f262e22e004548951eb1055910186</code></p>
                    
                    <div class="ui buttons">
                        <a href="https://dl.google.com/chrome/mac/universal/canary/googlechromecanary.dmg" class="ui positive button"><i class="download icon"></i> 下载安装包</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/canary/googlechromecanary.dmg" class="ui button">备用一</a>
                        <div class="or" data-text="&gt;"></div>
                        <a href="https://dl.google.com/chrome/mac/universal/canary/googlechromecanary.dmg" class="ui button">备用二</a>
                    </div>
                </div>
            </div>
        </div>
</div>
    <script src="assets/js/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="assets/js/semantic.min.js" charset="utf-8"></script>
</body>
</html>
